<div class="row header" style="margin-bottom: 5px;">
    <div class="col-xs-12">
        <div class="meta">
            <div class="page">
                Coronavirus COVID-19 Overview, Prevention, Symptoms
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-lg-12" >
   		 <div class="panel panel-warning">
      		<div class="panel-heading">Coronavirus disease Overview</div>
     		<div class="panel-body"> 
   				<div class="col col-lg-3" style="min-height: 300px;"><img src="img/corona2.jpg" style="width: 280px;height: 250px;"></div>
  				<div class="col col-lg-9"> 
  					<article>
					 	<p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.</p>
					 	<br>
						<p>Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.</p>
						<br>
						<p>The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).</p>
					</article>
				</div>
			</div>
      </div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12" >
		<div class="panel panel-success">
      		<div class="panel-heading">Coronavirus disease Prevention</div>
      		<div class="panel-body">
      			<div class="col col-lg-3" style="min-height: 300px;"><img src="img/corona3.jpg" style="width: 280px;height: 250px;"></div>
  				<div class="col col-lg-9"> 
  					<article>
					 	<p><span class="glyphicon glyphicon-star">&nbsp</span>Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.</p>
						<p><span class="glyphicon glyphicon-star">&nbsp</span>Maintain at least 1 metre distance between you and people coughing or sneezing.</p>
						<p><span class="glyphicon glyphicon-star">&nbsp</span>Avoid touching your face.</p>
						<p><span class="glyphicon glyphicon-star">&nbsp</span>Cover your mouth and nose when coughing or sneezing.</p>
						<p><span class="glyphicon glyphicon-star">&nbsp</span>Stay home if you feel unwell.</p>
						<p><span class="glyphicon glyphicon-star">&nbsp</span>Refrain from smoking and other activities that weaken the lungs.</p>
					</article>
				</div>
      		</div>
    	</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12" >
		<div class="panel panel-danger">
      		<div class="panel-heading">Coronavirus disease Symptoms</div>
      		<div class="panel-body">
      			<div class="col col-lg-3" style="min-height: 300px;"><img src="img/corona4.png" style="width: 280px;height: 250px;"></div>
  				<div class="col col-lg-9"> 
  					<article>
  						<p>The COVID-19 virus affects different people in different ways.  COVID-19 is a respiratory disease and most infected people will develop mild to moderate symptoms and recover without requiring special treatment.  People who have underlying medical conditions and those over 60 years old have a higher risk of developing severe disease and death.</p>
  						<br>
  						<p>Common symptoms include:</p>
					 	<p><span class="glyphicon glyphicon-star">&nbsp</span>fever</p>
						<p><span class="glyphicon glyphicon-star">&nbsp</span>tiredness</p>
						<p><span class="glyphicon glyphicon-star">&nbsp</span>dry cough.</p>
						<br>
						<p>Other symptoms include:</p>
						<p><span class="glyphicon glyphicon-star">&nbsp</span>shortness of breath</p>
						<p><span class="glyphicon glyphicon-star">&nbsp</span>aches and pains</p>
						<p><span class="glyphicon glyphicon-star">&nbsp</span>sore throat</p>
						<p><span class="glyphicon glyphicon-star">&nbsp</span>and very few people will report diarrhoea, nausea or a runny nose.</p>
					</article>
				</div>
      		</div>
    	</div>
	</div>
</div>