<div class="row header" style="margin-bottom: 5px;">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="meta">
            <div class="page">
                Coronavirus COVID-19 Local Cases
            </div>
        </div>
    </div>
</div>

<div class="row" data-ng-controller="DataCtrl">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon pull-left" style="background-color: #ff6a00">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">{{coronaDataObj.localTotalCases}}</div>
				<div class="comment">Total Confirmed</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">{{coronaDataObj.localNewCases}}</div>
				<div class="comment">New Cases</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body style="background-color: #017601">
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">{{coronaDataObj.localRecovered}}</div>
				<div class="comment">Total Recovered</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body style="background-color: #d70000;">
				<div class="widget-icon red pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">{{coronaDataObj.localDeaths}}</div>
				<div class="comment">Total Deaths</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
  	<div class="col-lg-6" data-ng-controller="GraphCtrl">
  		<rd-widget>
  			<rd-widget-body classes="no-padding">
  		 		<div class="category-grid" style="text-align: center; margin-top: 15px;">TOTAL CASES IN SRI LANKA</div>
        		<canvas id="total-cases-graph" width="400" height="652"></canvas>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6" data-ng-controller="DataCtrl">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Sri Lankan hospitals overview" style="font-size: 22px;">
				<input type="text" placeholder="Search" id="hospitalInput" ng-keyup="filterFunctionForHospitals()" class="form-control input-sm" />
			</rd-widget-header>
			<rd-widget-body classes="no-padding">
				<div class="table-responsive" style="height: 582px;overflow-y: auto;">
					<table class="table" id="hospitalTable">
						<thead>
							<tr><th class="text-center">Hospital Name</th><th>Treatment Local</th><th>Treatment Foreign</th><th>Treatment Total</th><th>Cumulative Local</th><th>Cumulative Foreign</th><th>Cumulative Total</th></tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="hospitalData in coronaDataObj.hospitalDataList">
								<td>{{hospitalData.hospital.name}}</td>
								<td>{{hospitalData.treatment_local}}</td>
								<td>{{hospitalData.treatment_foreign}}</td>
								<td>{{hospitalData.treatment_total}}</td>
								<td>{{hospitalData.cumulative_local}}</td>
								<td>{{hospitalData.cumulative_foreign}}</td>
								<td>{{hospitalData.cumulative_total}}</td>
							</tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>

 
